@media only screen and (max-device-width: 768px){
img#shape {
    display: none
}
img#transparent {
    bottom: -305px;
    right: 30px;
}
}

@media only screen and (orientation:portrait) and (min-width:321px){

}

  /* .images img{
    height: 80%;
    position: absolute;
    bottom: 0;
    margin-top: 250px;
    right: 100px;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


nav ul li {
    float: none;
    display: inline-block;
 
} 


/* nav{
    float: none;
    display: inline-block;
    width: 85%;
    padding:  15px;
    border-right: none;
} */

.div{
    margin-top: -250px;
}

.detel{
    margin-left: 8%;
    margin-top: 8%;
}

.detel h1{
    color:#212121;
    margin-top: 150px;
    
}

/* .detel h1{
    font-size: 20px;
    color: #212121;
    margin-bottom: 5px;
    margin-top: 140px;
}


.detel h2{
    font-size: 15px;
    color: #212121;
    margin-bottom: 5px;
    margin-top: 15px;
} */


/* .detel p{
    font-size: 12px;
    color: #555;
    line-height: 12px;
    margin-top: 5px;
} */

.detel a{
    background: #212121;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 5px;
    border-radius: 5px;
}


.img-fluid {
    width: 90%;
    height: auto;
    margin-top: -350px;
  }
  
  /* .images img{
    height: 80%;
    position: absolute;
    bottom: 0;
    margin-top: 250px;
    right: 100px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: -65px;
    right: -30px;
} */


/* .responsive img {
display:inline-block
right: 100px;
} */
/* img.shape{
    display: block;
    margin:0 auto;
}

img.transparent{
    display: block;
    margin:0 auto;
    position: relative;
    bottom: -120px;
} */

